*{
    margin: 0;
}

/* Header */


#bar{
    width: 100%;
    height: 120px;
    background-color: rgba(78,160,255,255);
    background-image: url("../img/pattern.png");
    margin-bottom: 10px;
}

#logo{
    height: 80px;
    margin-top: 40px;
}

/* Main */

#link_site_blue{
    color: rgba(78,160,255,255);
}

#date{
    display: block;
    font-size: 10px;
}

#main{
    margin: 10px;
}

#pic_container{
    margin-top: 10px;
    text-align: center;
}

.first_text{
    margin: 15px 0 15px 0;
}

.yellow_important{
    background-color: rgba(255,255,0,255);
}

.table_short{
   width: 400px;
}

.third_line{
    text-align: left;
}

.blue_row{
    background-color: rgba(32,169,229,255);
}

.azure_row{
    background-color: rgba(177,229,242,255);
}

#table{
    margin: 15px;
}